<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://inatel-t141-dm106-finalhomework.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>inatel-t141-dm106-finalhomework.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>INATEL-T141-DM106-FinalHomework</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$INATEL-T141-DM106-FinalHomework</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:inatel-t141-dm106-finalhomework.database.windows.net,1433;Initial Catalog=INATEL-T141-DM106-FinalHomework;User ID=admint141dm106;Password=InatelATD@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="INATEL_T141_DM106_Final_Homework.Models.ApplicationDbContext, INATEL-T141-DM106-Final_Homework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="INATEL_T141_DM106_Final_HomeworkContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:inatel-t141-dm106-finalhomework.database.windows.net,1433;Initial Catalog=INATEL-T141-DM106-FinalHomework;User ID=admint141dm106;Password=InatelATD@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="INATEL_T141_DM106_Final_Homework.Models.INATEL_T141_DM106_Final_HomeworkContext, INATEL-T141-DM106-Final_Homework" MigrationConfiguration="INATEL_T141_DM106_Final_Homework.Migrations.Configuration, INATEL-T141-DM106-Final_Homework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="INATEL_T141_DM106_Final_HomeworkContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:inatel-t141-dm106-finalhomework.database.windows.net,1433;Initial Catalog=INATEL-T141-DM106-FinalHomework;User ID=admint141dm106;Password=InatelATD@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:inatel-t141-dm106-finalhomework.database.windows.net,1433;Initial Catalog=INATEL-T141-DM106-FinalHomework;User ID=admint141dm106;Password=InatelATD@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>